body{
    width: 350px;
    height: 350px;
    background-color:rgb(231, 229, 248);
}
p, h3{
    display: inner-flex;;
    margin: auto 10px;
    padding: 5px 10px 5px 10px;
    
}
.row{
    display: flex;
    justify-content: space-around;
    margin: auto 35px;
    padding: 5px 10px 5px 10px;
    font-size: 15px;
    
}
a{
    text-decoration: none;
    padding: 7px;
    color: black;
}
